<!DOCTYPE html>
<html>
    <head>
        <title> Ken's Blog</title>
    <head>

    <body>
        <h1>
        Welcome to Ken's Blog
        </h1>
        <br>


        
        <div>
            <%= link_to 'The Blog', articles_path %> | 
            <%= link_to 'About', about_path %>
        </div>
    </body>



</html>