<!DOCTYPE html>
<html>
    <head>
        <title> Ken's Blog</title>
    <head>

    <body>
        <div class="center jumbotron">

        <h1>
        Welcome to Ken's Blog
        </h1>
        <%= link_to "Sign up now", signup_path, class:"btn-dark btn-lg btn-xlarge" %>
        </div>
    </body>



</html>