<!DOCTYPE html>
<html>
    <head>
        <title> Ken's Blog</title>
    <head>

    <body>
        <h1>
        Welcome to Ken's Blog
        </h1>

        
        <div>
            <%=link_to 'About Page', about_path %>
        </div>
    </body>



</html>